<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jasuil home</title>
</head>
<body>
    <h1>jasuil's home page</h1>
    <%
    for(user of users){
        %>
        <p><%=user.id%></p>
        <p><%=user.name%></p>
        <p><%=user.year%></p>
        <%
    }
    %>
</body>
</html>