<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login results</title>
</head>
<body>
   <h1>login result</h1>
    <%
    userName = user.name
    userId = user.id
    %>
    <%= userName%>,
    <%= userId%>
</body>
</html>