<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product specific page</title>
</head>
<body>
    <h1>product specific</h1>
    <h2>cycle</h2>
    <h3>3000 won</h3>
    <a href="/process/logout">logout</a>
</body>
</html>