<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성일짱</title>
</head>
<body>
    <h1>짱성일</h1>
    <h2>You did a great job</h2>
    <p>name: <%=person.name%>(jasuil)</p>
    <p>job: mind miner</p>
</body>
</html>